body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.item-list {
  background: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

#items li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-amount {
  font-size: 1.2em;
}

#card {
  background: #ddd;
  padding: 10px;
  border-radius: 5px;
}

#confirm-purchase {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* 追加項目のスタイル */
.item-detail, .user-detail {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.item-detail div, .user-detail div {
  margin-bottom: 5px;
}

.detail-label {
  font-weight: bold;
}

.detail-value {
  margin-left: 10px;
}

.form-input {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.form-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
