body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.item-list {
  background: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

#items li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.checkout {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  
  
}

.total-amount {
  font-size: 1.2em;
  font-weight: bold;
  
}

#card {
  background: #ddd;
  padding: 10px;
  border-radius: 5px;
}

#confirm-purchase {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;

}

/* 追加項目のスタイル */
/* 商品リストのスタイル */
.item {
  background-color: #f7f7f7;
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
}

.item-price {
  color: #4CAF50;
  font-size: 18px;
  font-weight: bold;
}

/* ボタンのスタイル */
.remove-button {
  background-color: #e75b5b;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.remove-button:hover {
  background-color: rgb(129 68 68);
}

/* ユーザー情報のスタイル */
.card-info {
  background-color: #f7f7f7;
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#card {
  /* 既存のスタイルに加えて */
  display: flex; /* フレックスボックスとして設定 */
  flex-wrap: wrap; /* 内容が多い場合は折り返し */
  justify-content: space-between; /* 項目間のスペースを均等に分配 */
  align-items: center; /* 項目を中央揃え */
}

.card-info div {
  /* カード情報の各項目に適用されるスタイル */
  margin-bottom: 10px;
  flex: 1; /* 各項目を均等に広げる */
}

.card-info button {
  margin-top: 10px;
}
