<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Coop Shopping</title>
    <link rel="stylesheet" href="/static/css/coop.css">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Coop Shopping</h1>
        </header>

        <section class="item-list">
            <h2>購入予定の商品</h2>
            <div class="checkout">
                <div class="total-amount">
                    <span>合計金額: </span><span id="total">0</span>円
                </div>
                <button id="confirm-purchase">購入確定</button>
            </div>
            <div id="insertBarcodeError"></div><!-- ここにバーコードに関するエラー情報を示すのタグが挿入される -->
            <div id="items"></div> <!-- ここに選択した商品情報を示すタグが挿入される -->
        </section>

        <section class="card-info">
            <h2>ご登録カード情報</h2>
            <div id="card">カード情報がここに表示されます</div>
            <div id="insertBuyError" class="table-style"></div><!-- ここに購入ボタンを押した際のエラー情報を示すタグが挿入される　-->
        </section>
    </div>

    <script src="/static/js/coop.js"></script>
</body>
</html>
