{% extends "base.html" %}
{% block header %}<link rel="stylesheet" href="/static/css/item_list.css">{% endblock %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="product-grid">
    <div class="product-category">
        <h2>Beverages</h2>
        <ul id="beverages">
            <!-- Beverage items will be listed here -->
        </ul>
    </div>

    <div class="product-category">
        <h2>Food</h2>
        <ul id="food">
            <!-- Food items will be listed here -->
        </ul>
    </div>

    <div class="product-category">
        <h2>Coffee</h2>
        <ul id="coffee">
            <!-- Coffee items will be listed here -->
        </ul>
    </div>
</div>
{% endblock %}
{% block script %}<script src="/static/js/coop.js"></script>{% endblock %}

